# Base de datos MySQL
DB_HOST=mysql-funkotest.alwaysdata.net
DB_USER=funkotest
DB_PASSWORD=rootJonas
DB_NAME=funkotest_fiscalizar
DB_PORT=3306

# Puerto de la aplicación (Heroku lo asigna automáticamente)
PORT=3000

# Sesiones
SESSION_SECRET=6853ad0a2dd3630e4ba775a61ab97b7cd64d536d3365314aac5642b683fb2b68
SESSION_NAME=fiscalizacion_session
# Entorno
NODE_ENV=production

